/*==========  Desktop First Method  ==========*/

@media only screen and (min-width : 1200px) {


}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
figure {
    width: 275px;
    height: 275px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

figure {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

.hover01 .pro {
    width: 200px !important;
}

.third-block {
    background-image: url(../img/icon-bgbg.jpg);
    background-position: right;
    -webkit-background-size: 100%;
    background-size: 120%;
    background-repeat: no-repeat;
    padding: 60px 0 20px;
    /* background-color: #62c277; */
}

.interest {
    margin: 0px 15px !important;
}

.block i {
    margin-top: 13px;
    font-size: 20px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
    text-transform: uppercase;
    transition: 0.45s font-weight:500;
}

nav {
    height: 55px;
    margin-bottom: 10px;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 10;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.25);
}

.logo {
    width: 200px;
    margin-top: 3px;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {



}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


}

@media only screen and (max-width: 413px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {



}